snippet erp{
	{
	    "name" : "",
	    "version" : "0.1",
	    "author" : "lefred",
	    "category": 'Generic Modules/Empty',
	    "website": 'http://www.lefred.be',
	    "description": "",
	    "update_xml" : [
			'views/_view.xml',
			'security/_access.xml',
			'security/ir.model.access.csv',
			'report/reports.xml',
	    ],
	    "demo_xml" : [],
	    "installable" : True,
	    "active" : False
	}
